################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/battleground2d/Assets/Scripts/ECS_Scripts/MovementSystem.cs
